# Pandas
Python library for Data Analysis and Manipulation

# Why Pandas?
- provides ability to work with Tabular data.
- Tabular Data - data that is organized into tables having rows and cols

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asus\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [139]:
import pandas as pd

# Series
- Series is a one dimensional labelled array that can hold/store data

In [4]:
book_title=['c++','Java','python','javascript']

In [5]:
title=pd.Series(book_title)

In [6]:
title

0           c++
1          Java
2        python
3    javascript
dtype: object

In [9]:
type(title)

pandas.core.series.Series

In [10]:
title[1]

'Java'

In [7]:
import numpy as np

In [8]:
np.array(book_title)

array(['c++', 'Java', 'python', 'javascript'], dtype='<U10')

In [11]:
title.index=['a','b','c','d']

In [12]:
title

a           c++
b          Java
c        python
d    javascript
dtype: object

In [13]:
title[0]

'c++'

In [14]:
title['a']

'c++'

# DataFrame - Introduction
- 2D labelled array having index and columns.
- multiple series combined together to form a Dataframe.
- most widely used data structure in pandas

In [11]:
dic={'Roll_no':[1,2,3,4,5,6],'Name':['Pooja','Meghna','Nancy','Munna',"Taniya","Ravi"]}

In [12]:
df=pd.DataFrame.from_dict(dic)

In [13]:
df

   Roll_no    Name
0        1   Pooja
1        2  Meghna
2        3   Nancy
3        4   Munna
4        5  Taniya
5        6    Ravi

In [140]:
iris_df=pd.read_csv(r"C:\Users\Asus\Downloads\iris.csv")

In [68]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [17]:
type(iris_df)

pandas.core.frame.DataFrame

In [18]:
iris_df.shape

(150, 5)

In [20]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [23]:
iris_df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [24]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [25]:
iris_df.tail(10)

     sepal_length  sepal_width  petal_length  petal_width    species
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [26]:
iris_df.sample()

     sepal_length  sepal_width  petal_length  petal_width    species
143           6.8          3.2           5.9          2.3  virginica

In [27]:
iris_df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
124           6.7          3.3           5.7          2.1   virginica
12            4.8          3.0           1.4          0.1      setosa
17            5.1          3.5           1.4          0.3      setosa
52            6.9          3.1           4.9          1.5  versicolor
106           4.9          2.5           4.5          1.7   virginica

In [69]:
iris_df.columns

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [76]:
iris_df.columns=[['sepal_l', 'sepal_w', 'petal_l', 'petal_w',
       'species']]

In [4]:
iris_df.head()

  sepal_l sepal_w petal_l petal_w species
0     5.1     3.5     1.4     0.2  setosa
1     4.9     3.0     1.4     0.2  setosa
2     4.7     3.2     1.3     0.2  setosa
3     4.6     3.1     1.5     0.2  setosa
4     5.0     3.6     1.4     0.2  setosa

In [5]:
iris_df.columns[0]

('sepal_l',)

In [34]:
# Extracting Columns
iris_df['species']

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [95]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [37]:
iris_df.describe()

          sepal_l     sepal_w     petal_l     petal_w
count  150.000000  150.000000  150.000000  150.000000
mean     5.843333    3.054000    3.758667    1.198667
std      0.828066    0.433594    1.764420    0.763161
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.350000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [38]:
# Extracting 3 Columns

In [40]:
iris_df[['sepal_l','sepal_w','species']]

    sepal_l sepal_w    species
0       5.1     3.5     setosa
1       4.9     3.0     setosa
2       4.7     3.2     setosa
3       4.6     3.1     setosa
4       5.0     3.6     setosa
..      ...     ...        ...
145     6.7     3.0  virginica
146     6.3     2.5  virginica
147     6.5     3.0  virginica
148     6.2     3.4  virginica
149     5.9     3.0  virginica

[150 rows x 3 columns]

In [90]:
# Add New Columns
iris_df[['sepal_lw']]=iris_df[['sepal_l']] * 2

In [83]:
iris_df

    sepal_l sepal_w petal_l petal_w    species sepal_lw
1       5.1     3.5     1.4     0.2     setosa     10.2
2       4.9     3.0     1.4     0.2     setosa      9.8
3       4.7     3.2     1.3     0.2     setosa      9.4
4       4.6     3.1     1.5     0.2     setosa      9.2
5       5.0     3.6     1.4     0.2     setosa     10.0
..      ...     ...     ...     ...        ...      ...
146     6.7     3.0     5.2     2.3  virginica     13.4
147     6.3     2.5     5.0     1.9  virginica     12.6
148     6.5     3.0     5.2     2.0  virginica     13.0
149     6.2     3.4     5.4     2.3  virginica     12.4
150     5.9     3.0     5.1     1.8  virginica     11.8

[150 rows x 6 columns]

# Indexing/Extracting Data

In [71]:
iris_df.index=range(1,151)

In [72]:
iris_df.index

RangeIndex(start=1, stop=151, step=1)

In [74]:
iris_df.shape[0]

150

In [77]:
iris_df.loc[1:50,['sepal_l','sepal_w']]

   sepal_l sepal_w
1      5.1     3.5
2      4.9     3.0
3      4.7     3.2
4      4.6     3.1
5      5.0     3.6
6      5.4     3.9
7      4.6     3.4
8      5.0     3.4
9      4.4     2.9
10     4.9     3.1
11     5.4     3.7
12     4.8     3.4
13     4.8     3.0
14     4.3     3.0
15     5.8     4.0
16     5.7     4.4
17     5.4     3.9
18     5.1     3.5
19     5.7     3.8
20     5.1     3.8
21     5.4     3.4
22     5.1     3.7
23     4.6     3.6
24     5.1     3.3
25     4.8     3.4
26     5.0     3.0
27     5.0     3.4
28     5.2     3.5
29     5.2     3.4
30     4.7     3.2
31     4.8     3.1
32     5.4     3.4
33     5.2     4.1
34     5.5     4.2
35     4.9     3.1
36     5.0     3.2
37     5.5     3.5
38     4.9     3.1
39     4.4     3.0
40     5.1     3.4
41     5.0     3.5
42     4.5     2.3
43     4.4     3.2
44     5.0     3.5
45     5.1     3.8
46     4.8     3.0
47     5.1     3.8
48     4.6     3.2
49     5.3     3.7
50     5.0     3.3

In [78]:
iris_df.iloc[1:50,0:3]

   sepal_l sepal_w petal_l
2      4.9     3.0     1.4
3      4.7     3.2     1.3
4      4.6     3.1     1.5
5      5.0     3.6     1.4
6      5.4     3.9     1.7
7      4.6     3.4     1.4
8      5.0     3.4     1.5
9      4.4     2.9     1.4
10     4.9     3.1     1.5
11     5.4     3.7     1.5
12     4.8     3.4     1.6
13     4.8     3.0     1.4
14     4.3     3.0     1.1
15     5.8     4.0     1.2
16     5.7     4.4     1.5
17     5.4     3.9     1.3
18     5.1     3.5     1.4
19     5.7     3.8     1.7
20     5.1     3.8     1.5
21     5.4     3.4     1.7
22     5.1     3.7     1.5
23     4.6     3.6     1.0
24     5.1     3.3     1.7
25     4.8     3.4     1.9
26     5.0     3.0     1.6
27     5.0     3.4     1.6
28     5.2     3.5     1.5
29     5.2     3.4     1.4
30     4.7     3.2     1.6
31     4.8     3.1     1.6
32     5.4     3.4     1.5
33     5.2     4.1     1.5
34     5.5     4.2     1.4
35     4.9     3.1     1.5
36     5.0     3.2     1.2
37     5.5     3.5     1.3
38     4.9     3.1     1.5
39     4.4     3.0     1.3
40     5.1     3.4     1.5
41     5.0     3.5     1.3
42     4.5     2.3     1.3
43     4.4     3.2     1.3
44     5.0     3.5     1.6
45     5.1     3.8     1.9
46     4.8     3.0     1.4
47     5.1     3.8     1.6
48     4.6     3.2     1.4
49     5.3     3.7     1.5
50     5.0     3.3     1.4

In [80]:
iris_df.iloc[-1:-50:-1]

    sepal_l sepal_w petal_l petal_w    species
150     5.9     3.0     5.1     1.8  virginica
149     6.2     3.4     5.4     2.3  virginica
148     6.5     3.0     5.2     2.0  virginica
147     6.3     2.5     5.0     1.9  virginica
146     6.7     3.0     5.2     2.3  virginica
145     6.7     3.3     5.7     2.5  virginica
144     6.8     3.2     5.9     2.3  virginica
143     5.8     2.7     5.1     1.9  virginica
142     6.9     3.1     5.1     2.3  virginica
141     6.7     3.1     5.6     2.4  virginica
140     6.9     3.1     5.4     2.1  virginica
139     6.0     3.0     4.8     1.8  virginica
138     6.4     3.1     5.5     1.8  virginica
137     6.3     3.4     5.6     2.4  virginica
136     7.7     3.0     6.1     2.3  virginica
135     6.1     2.6     5.6     1.4  virginica
134     6.3     2.8     5.1     1.5  virginica
133     6.4     2.8     5.6     2.2  virginica
132     7.9     3.8     6.4     2.0  virginica
131     7.4     2.8     6.1     1.9  virginica
130     7.2     3.0     5.8     1.6  virginica
129     6.4     2.8     5.6     2.1  virginica
128     6.1     3.0     4.9     1.8  virginica
127     6.2     2.8     4.8     1.8  virginica
126     7.2     3.2     6.0     1.8  virginica
125     6.7     3.3     5.7     2.1  virginica
124     6.3     2.7     4.9     1.8  virginica
123     7.7     2.8     6.7     2.0  virginica
122     5.6     2.8     4.9     2.0  virginica
121     6.9     3.2     5.7     2.3  virginica
120     6.0     2.2     5.0     1.5  virginica
119     7.7     2.6     6.9     2.3  virginica
118     7.7     3.8     6.7     2.2  virginica
117     6.5     3.0     5.5     1.8  virginica
116     6.4     3.2     5.3     2.3  virginica
115     5.8     2.8     5.1     2.4  virginica
114     5.7     2.5     5.0     2.0  virginica
113     6.8     3.0     5.5     2.1  virginica
112     6.4     2.7     5.3     1.9  virginica
111     6.5     3.2     5.1     2.0  virginica
110     7.2     3.6     6.1     2.5  virginica
109     6.7     2.5     5.8     1.8  virginica
108     7.3     2.9     6.3     1.8  virginica
107     4.9     2.5     4.5     1.7  virginica
106     7.6     3.0     6.6     2.1  virginica
105     6.5     3.0     5.8     2.2  virginica
104     6.3     2.9     5.6     1.8  virginica
103     7.1     3.0     5.9     2.1  virginica
102     5.8     2.7     5.1     1.9  virginica

In [91]:
iris_df

    sepal_l sepal_w petal_l petal_w    species sepal_lw
1       5.1     3.5     1.4     0.2     setosa     10.2
2       4.9     3.0     1.4     0.2     setosa      9.8
3       4.7     3.2     1.3     0.2     setosa      9.4
4       4.6     3.1     1.5     0.2     setosa      9.2
5       5.0     3.6     1.4     0.2     setosa     10.0
..      ...     ...     ...     ...        ...      ...
146     6.7     3.0     5.2     2.3  virginica     13.4
147     6.3     2.5     5.0     1.9  virginica     12.6
148     6.5     3.0     5.2     2.0  virginica     13.0
149     6.2     3.4     5.4     2.3  virginica     12.4
150     5.9     3.0     5.1     1.8  virginica     11.8

[150 rows x 6 columns]

In [88]:
iris_df=iris_df.drop('sepal_lw',axis=1)

C:\Users\Asus\AppData\Local\Temp\ipykernel_25056\4036822595.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  iris_df=iris_df.drop('sepal_lw',axis=1)

In [89]:
iris_df

    sepal_l sepal_w petal_l petal_w    species
1       5.1     3.5     1.4     0.2     setosa
2       4.9     3.0     1.4     0.2     setosa
3       4.7     3.2     1.3     0.2     setosa
4       4.6     3.1     1.5     0.2     setosa
5       5.0     3.6     1.4     0.2     setosa
..      ...     ...     ...     ...        ...
146     6.7     3.0     5.2     2.3  virginica
147     6.3     2.5     5.0     1.9  virginica
148     6.5     3.0     5.2     2.0  virginica
149     6.2     3.4     5.4     2.3  virginica
150     5.9     3.0     5.1     1.8  virginica

[150 rows x 5 columns]

In [94]:
iris_df.drop('sepal_lw',axis=1,inplace=True)

C:\Users\Asus\AppData\Local\Temp\ipykernel_25056\2111041767.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  iris_df.drop('sepal_lw',axis=1,inplace=True)

In [95]:
iris_df

    sepal_l sepal_w petal_l petal_w    species
4       4.6     3.1     1.5     0.2     setosa
5       5.0     3.6     1.4     0.2     setosa
6       5.4     3.9     1.7     0.4     setosa
7       4.6     3.4     1.4     0.3     setosa
8       5.0     3.4     1.5     0.2     setosa
..      ...     ...     ...     ...        ...
146     6.7     3.0     5.2     2.3  virginica
147     6.3     2.5     5.0     1.9  virginica
148     6.5     3.0     5.2     2.0  virginica
149     6.2     3.4     5.4     2.3  virginica
150     5.9     3.0     5.1     1.8  virginica

[147 rows x 5 columns]

In [96]:
iris_df.drop(146, axis=0,inplace=True)

In [97]:
iris_df

    sepal_l sepal_w petal_l petal_w    species
4       4.6     3.1     1.5     0.2     setosa
5       5.0     3.6     1.4     0.2     setosa
6       5.4     3.9     1.7     0.4     setosa
7       4.6     3.4     1.4     0.3     setosa
8       5.0     3.4     1.5     0.2     setosa
..      ...     ...     ...     ...        ...
145     6.7     3.3     5.7     2.5  virginica
147     6.3     2.5     5.0     1.9  virginica
148     6.5     3.0     5.2     2.0  virginica
149     6.2     3.4     5.4     2.3  virginica
150     5.9     3.0     5.1     1.8  virginica

[146 rows x 5 columns]

In [98]:
iris_df.drop([1,2,3], axis=0,inplace=True)

KeyError: '[1, 2, 3] not found in axis'

In [99]:
iris_df

    sepal_l sepal_w petal_l petal_w    species
4       4.6     3.1     1.5     0.2     setosa
5       5.0     3.6     1.4     0.2     setosa
6       5.4     3.9     1.7     0.4     setosa
7       4.6     3.4     1.4     0.3     setosa
8       5.0     3.4     1.5     0.2     setosa
..      ...     ...     ...     ...        ...
145     6.7     3.3     5.7     2.5  virginica
147     6.3     2.5     5.0     1.9  virginica
148     6.5     3.0     5.2     2.0  virginica
149     6.2     3.4     5.4     2.3  virginica
150     5.9     3.0     5.1     1.8  virginica

[146 rows x 5 columns]

In [100]:
iris_df.drop(range(4,10), axis=0,inplace=True)

In [101]:
iris_df.head(10)

   sepal_l sepal_w petal_l petal_w species
10     4.9     3.1     1.5     0.1  setosa
11     5.4     3.7     1.5     0.2  setosa
12     4.8     3.4     1.6     0.2  setosa
13     4.8     3.0     1.4     0.1  setosa
14     4.3     3.0     1.1     0.1  setosa
15     5.8     4.0     1.2     0.2  setosa
16     5.7     4.4     1.5     0.4  setosa
17     5.4     3.9     1.3     0.4  setosa
18     5.1     3.5     1.4     0.3  setosa
19     5.7     3.8     1.7     0.3  setosa

# Masking - Boolean Indexing

In [104]:
iris_df=pd.read_csv(r"C:\Users\Asus\Downloads\iris.csv")

In [105]:
mask=iris_df.iloc[:,0:4]>3.5

In [106]:
iris_df[mask]

     sepal_length  sepal_width  petal_length  petal_width species
0             5.1          NaN           NaN          NaN     NaN
1             4.9          NaN           NaN          NaN     NaN
2             4.7          NaN           NaN          NaN     NaN
3             4.6          NaN           NaN          NaN     NaN
4             5.0          3.6           NaN          NaN     NaN
..            ...          ...           ...          ...     ...
145           6.7          NaN           5.2          NaN     NaN
146           6.3          NaN           5.0          NaN     NaN
147           6.5          NaN           5.2          NaN     NaN
148           6.2          NaN           5.4          NaN     NaN
149           5.9          NaN           5.1          NaN     NaN

[150 rows x 5 columns]

In [107]:
iris_df['species']=='setosa'

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [108]:
iris_df[iris_df['species']=='setosa']

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [22]:
iris_df

    sepal_l sepal_w petal_l petal_w    species
0       5.1     3.5     1.4     0.2     setosa
1       4.9     3.0     1.4     0.2     setosa
2       4.7     3.2     1.3     0.2     setosa
3       4.6     3.1     1.5     0.2     setosa
4       5.0     3.6     1.4     0.2     setosa
..      ...     ...     ...     ...        ...
145     6.7     3.0     5.2     2.3  virginica
146     6.3     2.5     5.0     1.9  virginica
147     6.5     3.0     5.2     2.0  virginica
148     6.2     3.4     5.4     2.3  virginica
149     5.9     3.0     5.1     1.8  virginica

[150 rows x 5 columns]

In [93]:
iris_df[1:50]

   sepal_l sepal_w petal_l petal_w     species
11     5.4     3.7     1.5     0.2      setosa
12     4.8     3.4     1.6     0.2      setosa
13     4.8     3.0     1.4     0.1      setosa
14     4.3     3.0     1.1     0.1      setosa
15     5.8     4.0     1.2     0.2      setosa
16     5.7     4.4     1.5     0.4      setosa
17     5.4     3.9     1.3     0.4      setosa
18     5.1     3.5     1.4     0.3      setosa
19     5.7     3.8     1.7     0.3      setosa
20     5.1     3.8     1.5     0.3      setosa
21     5.4     3.4     1.7     0.2      setosa
22     5.1     3.7     1.5     0.4      setosa
23     4.6     3.6     1.0     0.2      setosa
24     5.1     3.3     1.7     0.5      setosa
25     4.8     3.4     1.9     0.2      setosa
26     5.0     3.0     1.6     0.2      setosa
27     5.0     3.4     1.6     0.4      setosa
28     5.2     3.5     1.5     0.2      setosa
29     5.2     3.4     1.4     0.2      setosa
30     4.7     3.2     1.6     0.2      setosa
31     4.8     3.1     1.6     0.2      setosa
32     5.4     3.4     1.5     0.4      setosa
33     5.2     4.1     1.5     0.1      setosa
34     5.5     4.2     1.4     0.2      setosa
35     4.9     3.1     1.5     0.1      setosa
36     5.0     3.2     1.2     0.2      setosa
37     5.5     3.5     1.3     0.2      setosa
38     4.9     3.1     1.5     0.1      setosa
39     4.4     3.0     1.3     0.2      setosa
40     5.1     3.4     1.5     0.2      setosa
41     5.0     3.5     1.3     0.3      setosa
42     4.5     2.3     1.3     0.3      setosa
43     4.4     3.2     1.3     0.2      setosa
44     5.0     3.5     1.6     0.6      setosa
45     5.1     3.8     1.9     0.4      setosa
46     4.8     3.0     1.4     0.3      setosa
47     5.1     3.8     1.6     0.2      setosa
48     4.6     3.2     1.4     0.2      setosa
49     5.3     3.7     1.5     0.2      setosa
50     5.0     3.3     1.4     0.2      setosa
51     7.0     3.2     4.7     1.4  versicolor
52     6.4     3.2     4.5     1.5  versicolor
53     6.9     3.1     4.9     1.5  versicolor
54     5.5     2.3     4.0     1.3  versicolor
55     6.5     2.8     4.6     1.5  versicolor
56     5.7     2.8     4.5     1.3  versicolor
57     6.3     3.3     4.7     1.6  versicolor
58     4.9     2.4     3.3     1.0  versicolor
59     6.6     2.9     4.6     1.3  versicolor

In [81]:
import pandas as pd

# Creating a sample DataFrame
data = {'A': [1, 2, 3, 4],
        'B': ['apple', 'banana', 'orange', 'apple'],
        'C': [0.1, 0.2, 0.3, 0.1]}

df = pd.DataFrame(data)
df
# Define the specific value you are interested in
value_to_match = 'apple'

# Retrieve all columns for rows where column 'B' has the specified value
result = df[df['B'] == value_to_match]

# Display the details for the matched rows
print(result)

   A      B    C
0  1  apple  0.1
3  4  apple  0.1

In [90]:
pd.set_option('display.max_columns', None)

In [163]:
s=iris_df[iris_df['species']=='setosa']
v=iris_df[(iris_df['species']=='virginica') & (iris_df['sepal_length']>7)]
vr=iris_df[iris_df['species']=='versicolor']

In [110]:
print(s)

    sepal_length  sepal_width  petal_length  petal_width species
0            5.1          3.5           1.4          0.2  setosa
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
4            5.0          3.6           1.4          0.2  setosa
5            5.4          3.9           1.7          0.4  setosa
6            4.6          3.4           1.4          0.3  setosa
7            5.0          3.4           1.5          0.2  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa
22           4.6          3.6           1.0          0.2  setosa
23           5.1          3.3           1.7          0.5  setosa
24           4.8          3.4           1.9          0.2  setosa
25           5.0          3.0           1.6          0.2  setosa
26           5.0          3.4           1.6          0.4  setosa
27           5.2          3.5           1.5          0.2  setosa
28           5.2          3.4           1.4          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
31           5.4          3.4           1.5          0.4  setosa
32           5.2          4.1           1.5          0.1  setosa
33           5.5          4.2           1.4          0.2  setosa
34           4.9          3.1           1.5          0.1  setosa
35           5.0          3.2           1.2          0.2  setosa
36           5.5          3.5           1.3          0.2  setosa
37           4.9          3.1           1.5          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
39           5.1          3.4           1.5          0.2  setosa
40           5.0          3.5           1.3          0.3  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
43           5.0          3.5           1.6          0.6  setosa
44           5.1          3.8           1.9          0.4  setosa
45           4.8          3.0           1.4          0.3  setosa
46           5.1          3.8           1.6          0.2  setosa
47           4.6          3.2           1.4          0.2  setosa
48           5.3          3.7           1.5          0.2  setosa
49           5.0          3.3           1.4          0.2  setosa

In [113]:
 v

     sepal_length  sepal_width  petal_length  petal_width    species
102           7.1          3.0           5.9          2.1  virginica
105           7.6          3.0           6.6          2.1  virginica
107           7.3          2.9           6.3          1.8  virginica
109           7.2          3.6           6.1          2.5  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
125           7.2          3.2           6.0          1.8  virginica
129           7.2          3.0           5.8          1.6  virginica
130           7.4          2.8           6.1          1.9  virginica
131           7.9          3.8           6.4          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica

In [114]:
vr

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
53           5.5          2.3           4.0          1.3  versicolor
54           6.5          2.8           4.6          1.5  versicolor
55           5.7          2.8           4.5          1.3  versicolor
56           6.3          3.3           4.7          1.6  versicolor
57           4.9          2.4           3.3          1.0  versicolor
58           6.6          2.9           4.6          1.3  versicolor
59           5.2          2.7           3.9          1.4  versicolor
60           5.0          2.0           3.5          1.0  versicolor
61           5.9          3.0           4.2          1.5  versicolor
62           6.0          2.2           4.0          1.0  versicolor
63           6.1          2.9           4.7          1.4  versicolor
64           5.6          2.9           3.6          1.3  versicolor
65           6.7          3.1           4.4          1.4  versicolor
66           5.6          3.0           4.5          1.5  versicolor
67           5.8          2.7           4.1          1.0  versicolor
68           6.2          2.2           4.5          1.5  versicolor
69           5.6          2.5           3.9          1.1  versicolor
70           5.9          3.2           4.8          1.8  versicolor
71           6.1          2.8           4.0          1.3  versicolor
72           6.3          2.5           4.9          1.5  versicolor
73           6.1          2.8           4.7          1.2  versicolor
74           6.4          2.9           4.3          1.3  versicolor
75           6.6          3.0           4.4          1.4  versicolor
76           6.8          2.8           4.8          1.4  versicolor
77           6.7          3.0           5.0          1.7  versicolor
78           6.0          2.9           4.5          1.5  versicolor
79           5.7          2.6           3.5          1.0  versicolor
80           5.5          2.4           3.8          1.1  versicolor
81           5.5          2.4           3.7          1.0  versicolor
82           5.8          2.7           3.9          1.2  versicolor
83           6.0          2.7           5.1          1.6  versicolor
84           5.4          3.0           4.5          1.5  versicolor
85           6.0          3.4           4.5          1.6  versicolor
86           6.7          3.1           4.7          1.5  versicolor
87           6.3          2.3           4.4          1.3  versicolor
88           5.6          3.0           4.1          1.3  versicolor
89           5.5          2.5           4.0          1.3  versicolor
90           5.5          2.6           4.4          1.2  versicolor
91           6.1          3.0           4.6          1.4  versicolor
92           5.8          2.6           4.0          1.2  versicolor
93           5.0          2.3           3.3          1.0  versicolor
94           5.6          2.7           4.2          1.3  versicolor
95           5.7          3.0           4.2          1.2  versicolor
96           5.7          2.9           4.2          1.3  versicolor
97           6.2          2.9           4.3          1.3  versicolor
98           5.1          2.5           3.0          1.1  versicolor
99           5.7          2.8           4.1          1.3  versicolor

In [37]:
iris_df.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [38]:
iris_df['species'].nunique()

3

In [39]:
iris_df['species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [115]:
iris_df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [41]:
iris_df['species'].value_counts(normalize=True)

species
setosa        0.333333
versicolor    0.333333
virginica     0.333333
Name: proportion, dtype: float64

In [42]:
iris_df['sepal_length'].mean()

5.843333333333334

In [117]:
iris_df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.054000      3.758667     1.198667     NaN
std         0.828066     0.433594      1.764420     0.763161     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [45]:
iris_df['sepal_length'].min()

4.3

In [46]:
iris_df['sepal_length'].max()

7.9

In [47]:
iris_df['sepal_length'].sum()

876.5

In [120]:
iris_df.sort_values(by=['sepal_length','sepal_width'],ascending=False)

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
135           7.7          3.0           6.1          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
42            4.4          3.2           1.3          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
8             4.4          2.9           1.4          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [130]:
from numpy import sqrt

In [131]:
sqrt(4)

2.0

In [121]:
def sq(a):
    return a**2

In [122]:
sq(3)

9

In [126]:
iris_df.drop('sqrt_sl',axis=1,inplace=True)

In [128]:
iris_df['sq_sl']=iris_df['sepal_length'].apply(sq)

In [133]:
iris_df['sqrt_sl']=iris_df['sepal_length'].apply(sqrt)

In [134]:
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species,sq_sl,sqrt_sl
0,5.1,3.5,1.4,0.2,setosa,26.01,2.258318
1,4.9,3.0,1.4,0.2,setosa,24.01,2.213594
2,4.7,3.2,1.3,0.2,setosa,22.09,2.167948
3,4.6,3.1,1.5,0.2,setosa,21.16,2.144761
4,5.0,3.6,1.4,0.2,setosa,25.00,2.236068
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,44.89,2.588436
146,6.3,2.5,5.0,1.9,virginica,39.69,2.509980
147,6.5,3.0,5.2,2.0,virginica,42.25,2.549510
148,6.2,3.4,5.4,2.3,virginica,38.44,2.489980
149,5.9,3.0,5.1,1.8,virginica,34.81,2.428992

In [55]:
iris_df['species'].apply(len)

0      6
1      6
2      6
3      6
4      6
      ..
145    9
146    9
147    9
148    9
149    9
Name: species, Length: 150, dtype: int64

In [135]:
iris_df.apply(lambda x: x + x)

,sepal_length,sepal_width,petal_length,petal_width,species,sq_sl,sqrt_sl
0,10.2,7.0,2.8,0.4,setosasetosa,52.02,4.516636
1,9.8,6.0,2.8,0.4,setosasetosa,48.02,4.427189
2,9.4,6.4,2.6,0.4,setosasetosa,44.18,4.335897
3,9.2,6.2,3.0,0.4,setosasetosa,42.32,4.289522
4,10.0,7.2,2.8,0.4,setosasetosa,50.00,4.472136
...,...,...,...,...,...,...,...
145,13.4,6.0,10.4,4.6,virginicavirginica,89.78,5.176872
146,12.6,5.0,10.0,3.8,virginicavirginica,79.38,5.019960
147,13.0,6.0,10.4,4.0,virginicavirginica,84.50,5.099020
148,12.4,6.8,10.8,4.6,virginicavirginica,76.88,4.979960
149,11.8,6.0,10.2,3.6,virginicavirginica,69.62,4.857983

In [57]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species   sqrt_sl
0             5.1          3.5           1.4          0.2     setosa  2.258318
1             4.9          3.0           1.4          0.2     setosa  2.213594
2             4.7          3.2           1.3          0.2     setosa  2.167948
3             4.6          3.1           1.5          0.2     setosa  2.144761
4             5.0          3.6           1.4          0.2     setosa  2.236068
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  virginica  2.588436
146           6.3          2.5           5.0          1.9  virginica  2.509980
147           6.5          3.0           5.2          2.0  virginica  2.549510
148           6.2          3.4           5.4          2.3  virginica  2.489980
149           5.9          3.0           5.1          1.8  virginica  2.428992

[150 rows x 6 columns]

# Grouping Data Together

In [58]:
iris_df.agg('min')

sepal_length         4.3
sepal_width          2.0
petal_length         1.0
petal_width          0.1
species           setosa
sqrt_sl         2.073644
dtype: object

In [136]:
iris_df.aggregate('max')

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
sq_sl               62.41
sqrt_sl          2.810694
dtype: object

In [137]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species',
       'sq_sl', 'sqrt_sl'],
      dtype='object')

In [138]:
iris_df[['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'sq_sl', 'sqrt_sl']].aggregate(['min', 'max', 'mean', 'median'])

,sepal_length,sepal_width,petal_length,petal_width,sq_sl,sqrt_sl
min,4.300000,2.000,1.000000,0.100000,18.490000,2.073644
max,7.900000,4.400,6.900000,2.500000,62.410000,2.810694
mean,5.843333,3.054,3.758667,1.198667,34.825667,2.411318
median,5.800000,3.000,4.350000,1.300000,33.640000,2.408319

In [141]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [146]:
pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

In [148]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
3             4.6          3.1           1.5          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
6             4.6          3.4           1.4          0.3      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
17            5.1          3.5           1.4          0.3      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
26            5.0          3.4           1.6          0.4      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
34            4.9          3.1           1.5          0.1      setosa
35            5.0          3.2           1.2          0.2      setosa
36            5.5          3.5           1.3          0.2      setosa
37            4.9          3.1           1.5          0.1      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
40            5.0          3.5           1.3          0.3      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
43            5.0          3.5           1.6          0.6      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
62            6.0          2.2           4.0          1.0  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
71            6.1          2.8           4.0          1.3  versicolor
72            6.3          2.5           4.9          1.5  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
84            5.4          3.0           4.5          1.5  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
93            5.0          2.3           3.3          1.0  versicolor
94            5.6          2.7           4.2          1.3  versicolor
95            5.7          3.0           4.2          1.2  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
102           7.1          3.0           5.9          2.1   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [150]:
sp=iris_df.groupby('species')

In [152]:
sp.min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [153]:
sp.sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        170.9          73.2         12.2
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

In [158]:
sp.count()['sepal_length']

species
setosa        50
versicolor    50
virginica     50
Name: sepal_length, dtype: int64

In [166]:
sp.min()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               4.3          2.3           1.0          0.1
versicolor           4.9          2.0           3.0          1.0
virginica            4.9          2.2           4.5          1.4

In [165]:
s.agg('min')

sepal_length       4.3
sepal_width        2.3
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [167]:
sp.max()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa               5.8          4.4           1.9          0.6
versicolor           7.0          3.4           5.1          1.8
virginica            7.9          3.8           6.9          2.5

In [168]:
sp.mean()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             5.006        3.418         1.464        0.244
versicolor         5.936        2.770         4.260        1.326
virginica          6.588        2.974         5.552        2.026

In [170]:
sp.describe().T

species                setosa  versicolor  virginica
sepal_length count  50.000000   50.000000  50.000000
             mean    5.006000    5.936000   6.588000
             std     0.352490    0.516171   0.635880
             min     4.300000    4.900000   4.900000
             25%     4.800000    5.600000   6.225000
             50%     5.000000    5.900000   6.500000
             75%     5.200000    6.300000   6.900000
             max     5.800000    7.000000   7.900000
sepal_width  count  50.000000   50.000000  50.000000
             mean    3.418000    2.770000   2.974000
             std     0.381024    0.313798   0.322497
             min     2.300000    2.000000   2.200000
             25%     3.125000    2.525000   2.800000
             50%     3.400000    2.800000   3.000000
             75%     3.675000    3.000000   3.175000
             max     4.400000    3.400000   3.800000
petal_length count  50.000000   50.000000  50.000000
             mean    1.464000    4.260000   5.552000
             std     0.173511    0.469911   0.551895
             min     1.000000    3.000000   4.500000
             25%     1.400000    4.000000   5.100000
             50%     1.500000    4.350000   5.550000
             75%     1.575000    4.600000   5.875000
             max     1.900000    5.100000   6.900000
petal_width  count  50.000000   50.000000  50.000000
             mean    0.244000    1.326000   2.026000
             std     0.107210    0.197753   0.274650
             min     0.100000    1.000000   1.400000
             25%     0.200000    1.200000   1.800000
             50%     0.200000    1.300000   2.000000
             75%     0.300000    1.500000   2.300000
             max     0.600000    1.800000   2.500000

# Handling Missing Data
- dropna()
- fillna()

In [171]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [173]:
iris_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [174]:
import numpy as np

In [175]:
nan=np.random.randint(0,150,20)

In [176]:
nan

array([ 62,  40,  95,  17,  26,  93,  37,  34, 102,  84,  36,  72,  62,
        95,  43,  84,  71,   3,  71,   6])

In [192]:
iris_df['sepal_length'][nan]=np.nan

C:\Users\Asus\AppData\Local\Temp\ipykernel_25056\662640478.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df['sepal_length'][nan]=np.nan

In [179]:
np.nan

nan

In [181]:
iris_df['sepal_length'][nan]

62    NaN
40    NaN
95    NaN
17    NaN
26    NaN
93    NaN
37    NaN
34    NaN
102   NaN
84    NaN
36    NaN
72    NaN
62    NaN
95    NaN
43    NaN
84    NaN
71    NaN
3     NaN
71    NaN
6     NaN
Name: sepal_length, dtype: float64

In [193]:
iris_df.isnull().sum()

sepal_length    16
sepal_width      0
petal_length     0
petal_width      0
species          0
dtype: int64

In [194]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  134 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [187]:
round(iris_df['sepal_length'].mean(),1)

5.9

In [189]:
iris_df['sepal_length'].fillna(value=round(iris_df['sepal_length'].mean(),1),inplace=True)

In [190]:
iris_df['sepal_length'][nan]

62     5.9
40     5.9
95     5.9
17     5.9
26     5.9
93     5.9
37     5.9
34     5.9
102    5.9
84     5.9
36     5.9
72     5.9
62     5.9
95     5.9
43     5.9
84     5.9
71     5.9
3      5.9
71     5.9
6      5.9
Name: sepal_length, dtype: float64

In [191]:
iris_df['species'].mode()

0        setosa
1    versicolor
2     virginica
Name: species, dtype: object

In [195]:
iris_df['sepal_length'][nan]

62    NaN
40    NaN
95    NaN
17    NaN
26    NaN
93    NaN
37    NaN
34    NaN
102   NaN
84    NaN
36    NaN
72    NaN
62    NaN
95    NaN
43    NaN
84    NaN
71    NaN
3     NaN
71    NaN
6     NaN
Name: sepal_length, dtype: float64

In [199]:
iris_df.dropna(inplace=True)

In [200]:
iris_df

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
38            4.4          3.0           1.3          0.2      setosa
39            5.1          3.4           1.5          0.2      setosa
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2      setosa
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3  versicolor
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2  versicolor
94            5.6          2.7           4.2          1.3  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

In [201]:
iris_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 134 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  134 non-null    float64
 1   sepal_width   134 non-null    float64
 2   petal_length  134 non-null    float64
 3   petal_width   134 non-null    float64
 4   species       134 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.3+ KB

In [202]:
iris_df['species'].value_counts()

species
virginica     49
versicolor    44
setosa        41
Name: count, dtype: int64

In [203]:
n= np.random.randint(0,134,5)

In [205]:
iris_df['species'][n]=np.nan

C:\Users\Asus\AppData\Local\Temp\ipykernel_25056\764132984.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iris_df['species'][n]=np.nan

In [206]:
iris_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         5
dtype: int64

In [216]:
iris_df['species'].fillna(value=iris_df['species'].mode()[0],inplace=True)

In [217]:
iris_df.isna().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [215]:
iris_df['species'].mode()[0]

'virginica'

In [219]:
iris_df['species'][n]

92    virginica
88    virginica
38    virginica
39    virginica
47    virginica
Name: species, dtype: object

# Concat/Merge Dataframes

In [220]:
iris_df.shape

(134, 5)

In [221]:
df=pd.DataFrame(np.random.randint(0,7,size=(10,4)))

In [222]:
df

   0  1  2  3
0  1  1  0  5
1  4  1  2  6
2  3  3  0  4
3  4  1  5  4
4  3  6  1  5
5  6  5  2  1
6  1  6  2  1
7  2  3  5  2
8  4  3  1  5
9  1  4  4  3

In [224]:
df['species']="new"

In [225]:
df

   0  1  2  3 species
0  1  1  0  5     new
1  4  1  2  6     new
2  3  3  0  4     new
3  4  1  5  4     new
4  3  6  1  5     new
5  6  5  2  1     new
6  1  6  2  1     new
7  2  3  5  2     new
8  4  3  1  5     new
9  1  4  4  3     new

In [227]:
df.columns=iris_df.columns

In [228]:
df

   sepal_length  sepal_width  petal_length  petal_width species
0             1            1             0            5     new
1             4            1             2            6     new
2             3            3             0            4     new
3             4            1             5            4     new
4             3            6             1            5     new
5             6            5             2            1     new
6             1            6             2            1     new
7             2            3             5            2     new
8             4            3             1            5     new
9             1            4             4            3     new

In [230]:
iris=pd.concat((iris_df,df),axis=0)

In [231]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
38            4.4          3.0           1.3          0.2   virginica
39            5.1          3.4           1.5          0.2   virginica
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2   virginica
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3   virginica
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2   virginica
94            5.6          2.7           4.2          1.3  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica
0             1.0          1.0           0.0          5.0         new
1             4.0          1.0           2.0          6.0         new
2             3.0          3.0           0.0          4.0         new
3             4.0          1.0           5.0          4.0         new
4             3.0          6.0           1.0          5.0         new
5             6.0          5.0           2.0          1.0         new
6             1.0          6.0           2.0          1.0         new
7             2.0          3.0           5.0          2.0         new
8             4.0          3.0           1.0          5.0         new
9             1.0          4.0           4.0          3.0         new

In [232]:
iris.shape

(144, 5)

# Merging Dataframes

In [233]:
df1=pd.DataFrame({'Name' : ['Mohit', 'Jatin', 'Prateek', 'Mohit'],
                    'CGPA' :  [ 2 , 4, 5, 3]})

In [234]:
df1

      Name  CGPA
0    Mohit     2
1    Jatin     4
2  Prateek     5
3    Mohit     3

In [235]:
df2 = pd.DataFrame({'T_Name' : ['Mohit', 'Jatin', 'Prateek', 'Mohit'],
                    'CGPA' :  [ 3 , 6, 8, 9]})

In [236]:
df2

    T_Name  CGPA
0    Mohit     3
1    Jatin     6
2  Prateek     8
3    Mohit     9

In [237]:
df1.merge(df2,how='inner')

    Name  CGPA T_Name
0  Mohit     3  Mohit

In [238]:
df1.merge(df2, how = 'left')

      Name  CGPA T_Name
0    Mohit     2    NaN
1    Jatin     4    NaN
2  Prateek     5    NaN
3    Mohit     3  Mohit

In [239]:
df1.merge(df2, how = 'right')

    Name  CGPA   T_Name
0  Mohit     3    Mohit
1    NaN     6    Jatin
2    NaN     8  Prateek
3    NaN     9    Mohit

In [240]:
df1.merge(df2, how= 'outer')

      Name  CGPA   T_Name
0    Mohit     2      NaN
1    Jatin     4      NaN
2  Prateek     5      NaN
3    Mohit     3    Mohit
4      NaN     6    Jatin
5      NaN     8  Prateek
6      NaN     9    Mohit

# Output Files

In [241]:
iris

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
1             4.9          3.0           1.4          0.2      setosa
2             4.7          3.2           1.3          0.2      setosa
4             5.0          3.6           1.4          0.2      setosa
5             5.4          3.9           1.7          0.4      setosa
7             5.0          3.4           1.5          0.2      setosa
8             4.4          2.9           1.4          0.2      setosa
9             4.9          3.1           1.5          0.1      setosa
10            5.4          3.7           1.5          0.2      setosa
11            4.8          3.4           1.6          0.2      setosa
12            4.8          3.0           1.4          0.1      setosa
13            4.3          3.0           1.1          0.1      setosa
14            5.8          4.0           1.2          0.2      setosa
15            5.7          4.4           1.5          0.4      setosa
16            5.4          3.9           1.3          0.4      setosa
18            5.7          3.8           1.7          0.3      setosa
19            5.1          3.8           1.5          0.3      setosa
20            5.4          3.4           1.7          0.2      setosa
21            5.1          3.7           1.5          0.4      setosa
22            4.6          3.6           1.0          0.2      setosa
23            5.1          3.3           1.7          0.5      setosa
24            4.8          3.4           1.9          0.2      setosa
25            5.0          3.0           1.6          0.2      setosa
27            5.2          3.5           1.5          0.2      setosa
28            5.2          3.4           1.4          0.2      setosa
29            4.7          3.2           1.6          0.2      setosa
30            4.8          3.1           1.6          0.2      setosa
31            5.4          3.4           1.5          0.4      setosa
32            5.2          4.1           1.5          0.1      setosa
33            5.5          4.2           1.4          0.2      setosa
35            5.0          3.2           1.2          0.2      setosa
38            4.4          3.0           1.3          0.2   virginica
39            5.1          3.4           1.5          0.2   virginica
41            4.5          2.3           1.3          0.3      setosa
42            4.4          3.2           1.3          0.2      setosa
44            5.1          3.8           1.9          0.4      setosa
45            4.8          3.0           1.4          0.3      setosa
46            5.1          3.8           1.6          0.2      setosa
47            4.6          3.2           1.4          0.2   virginica
48            5.3          3.7           1.5          0.2      setosa
49            5.0          3.3           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
55            5.7          2.8           4.5          1.3  versicolor
56            6.3          3.3           4.7          1.6  versicolor
57            4.9          2.4           3.3          1.0  versicolor
58            6.6          2.9           4.6          1.3  versicolor
59            5.2          2.7           3.9          1.4  versicolor
60            5.0          2.0           3.5          1.0  versicolor
61            5.9          3.0           4.2          1.5  versicolor
63            6.1          2.9           4.7          1.4  versicolor
64            5.6          2.9           3.6          1.3  versicolor
65            6.7          3.1           4.4          1.4  versicolor
66            5.6          3.0           4.5          1.5  versicolor
67            5.8          2.7           4.1          1.0  versicolor
68            6.2          2.2           4.5          1.5  versicolor
69            5.6          2.5           3.9          1.1  versicolor
70            5.9          3.2           4.8          1.8  versicolor
73            6.1          2.8           4.7          1.2  versicolor
74            6.4          2.9           4.3          1.3  versicolor
75            6.6          3.0           4.4          1.4  versicolor
76            6.8          2.8           4.8          1.4  versicolor
77            6.7          3.0           5.0          1.7  versicolor
78            6.0          2.9           4.5          1.5  versicolor
79            5.7          2.6           3.5          1.0  versicolor
80            5.5          2.4           3.8          1.1  versicolor
81            5.5          2.4           3.7          1.0  versicolor
82            5.8          2.7           3.9          1.2  versicolor
83            6.0          2.7           5.1          1.6  versicolor
85            6.0          3.4           4.5          1.6  versicolor
86            6.7          3.1           4.7          1.5  versicolor
87            6.3          2.3           4.4          1.3  versicolor
88            5.6          3.0           4.1          1.3   virginica
89            5.5          2.5           4.0          1.3  versicolor
90            5.5          2.6           4.4          1.2  versicolor
91            6.1          3.0           4.6          1.4  versicolor
92            5.8          2.6           4.0          1.2   virginica
94            5.6          2.7           4.2          1.3  versicolor
96            5.7          2.9           4.2          1.3  versicolor
97            6.2          2.9           4.3          1.3  versicolor
98            5.1          2.5           3.0          1.1  versicolor
99            5.7          2.8           4.1          1.3  versicolor
100           6.3          3.3           6.0          2.5   virginica
101           5.8          2.7           5.1          1.9   virginica
103           6.3          2.9           5.6          1.8   virginica
104           6.5          3.0           5.8          2.2   virginica
105           7.6          3.0           6.6          2.1   virginica
106           4.9          2.5           4.5          1.7   virginica
107           7.3          2.9           6.3          1.8   virginica
108           6.7          2.5           5.8          1.8   virginica
109           7.2          3.6           6.1          2.5   virginica
110           6.5          3.2           5.1          2.0   virginica
111           6.4          2.7           5.3          1.9   virginica
112           6.8          3.0           5.5          2.1   virginica
113           5.7          2.5           5.0          2.0   virginica
114           5.8          2.8           5.1          2.4   virginica
115           6.4          3.2           5.3          2.3   virginica
116           6.5          3.0           5.5          1.8   virginica
117           7.7          3.8           6.7          2.2   virginica
118           7.7          2.6           6.9          2.3   virginica
119           6.0          2.2           5.0          1.5   virginica
120           6.9          3.2           5.7          2.3   virginica
121           5.6          2.8           4.9          2.0   virginica
122           7.7          2.8           6.7          2.0   virginica
123           6.3          2.7           4.9          1.8   virginica
124           6.7          3.3           5.7          2.1   virginica
125           7.2          3.2           6.0          1.8   virginica
126           6.2          2.8           4.8          1.8   virginica
127           6.1          3.0           4.9          1.8   virginica
128           6.4          2.8           5.6          2.1   virginica
129           7.2          3.0           5.8          1.6   virginica
130           7.4          2.8           6.1          1.9   virginica
131           7.9          3.8           6.4          2.0   virginica
132           6.4          2.8           5.6          2.2   virginica
133           6.3          2.8           5.1          1.5   virginica
134           6.1          2.6           5.6          1.4   virginica
135           7.7          3.0           6.1          2.3   virginica
136           6.3          3.4           5.6          2.4   virginica
137           6.4          3.1           5.5          1.8   virginica
138           6.0          3.0           4.8          1.8   virginica
139           6.9          3.1           5.4          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
141           6.9          3.1           5.1          2.3   virginica
142           5.8          2.7           5.1          1.9   virginica
143           6.8          3.2           5.9          2.3   virginica
144           6.7          3.3           5.7          2.5   virginica
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica
0             1.0          1.0           0.0          5.0         new
1             4.0          1.0           2.0          6.0         new
2             3.0          3.0           0.0          4.0         new
3             4.0          1.0           5.0          4.0         new
4             3.0          6.0           1.0          5.0         new
5             6.0          5.0           2.0          1.0         new
6             1.0          6.0           2.0          1.0         new
7             2.0          3.0           5.0          2.0         new
8             4.0          3.0           1.0          5.0         new
9             1.0          4.0           4.0          3.0         new

In [242]:
iris.to_csv("./updated_iris.csv",index=False)

In [243]:
iris.to_excel("./new_iris.xlsx", sheet_name="iris sheet")